name: Pack alas-launcher

on:
  push:
    tags:
      - '*'
  workflow_dispatch: {}

env:
  UV_MANAGED_PYTHON: 1
  UV_PYTHON_INSTALL_DIR: ${{ github.workspace }}/python
  UV_PYTHON: 3.8.20

jobs:
  package:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
        include:
          - os: ubuntu-22.04
            python-platform: linux_x86_64
          - os: macos-latest
            python-platform: macosx_14_0_arm64
          - os: windows-latest
            python-platform: win_amd64

    steps:
      - name: Install Tauri dependencies (Ubuntu only)
        if: ${{ startsWith(matrix.os, 'ubuntu-') }}
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - name: Get rdfind
        uses: knicknic/os-specific-run@v1.0.3
        with:
          linux: sudo apt-get install -y rdfind
          macos: brew install rdfind
      - name: Checkout
        uses: actions/checkout@v4
      - name: Rustup for cache
        run: rustup toolchain install stable --profile minimal
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --verbose --release
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install Python and dependencies with customized MXNet
        shell: bash
        run: |
          export PYTHON_PREFIX=$(uv run python -c 'import sys; print(sys.exec_prefix)')
          echo "PYTHON_PREFIX=$PYTHON_PREFIX" >> $GITHUB_ENV
          curl -L -O https://github.com/swordfeng/mxnet-build/releases/download/rev1/mxnet-1.9.1-cp38-cp38-${{ matrix.python-platform }}.whl
          UV_PYTHON= uvx change_wheel_version mxnet-1.9.1-cp38-cp38-${{ matrix.python-platform }}.whl --version 1.6.99
          uv pip install --prefix "$PYTHON_PREFIX" --no-deps mxnet-1.6.99-cp38-cp38-${{ matrix.python-platform }}.whl
          uv pip install --prefix "$PYTHON_PREFIX" -r requirements.in
      - name: Shrink python site-packages
        shell: bash
        run: |
          SP=$(find $PYTHON_PREFIX -name site-packages -type d)
          rm -rf $SP/Crypto/SelfTest
          find $SP/ -name tests -type d | xargs rm -rf
          find $SP/ -name '*.pyi' -type f -delete
      - name: Get git
        uses: knicknic/os-specific-run@v1.0.3
        with:
          linux: |
            git clone https://github.com/git/git.git --branch v2.49.1 --depth 1
            cd git
            echo NO_GETTEXT=1 > config.mak
            cat > conanfile.txt <<CONANFILE
            [requires]
            openssl/3.4.1
            libcurl/8.12.1
            expat/2.7.1
            pcre2/10.44
            [generators]
            AutotoolsDeps
            AutotoolsToolchain
            PkgConfigDeps
            CONANFILE
            container_id=$(docker run -d -v $PWD:/volume --rm -t quay.io/pypa/manylinux2010_x86_64:latest)
            docker exec -w /volume -t $container_id yum update
            docker exec -w /volume -t $container_id yum install -y gettext perl-IPC-Cmd perl-Digest-SHA
            docker exec -w /volume -t $container_id pipx install conan
            docker exec -w /volume -t $container_id conan profile detect --force
            docker exec -w /volume -t $container_id conan install . --build=missing --build="m4*"
            docker exec -w /volume -t $container_id make configure
            docker exec -w /volume -t $container_id bash -c 'source conanbuild.sh; \
              export RUNTIME_PREFIX=1
              export CURL_CONFIG="pkg-config libcurl"
              LDFLAGS+=" $LIBS"
              export LDFLAGS
              ./configure --with-openssl --with-curl --with-expat --without-tcltk --prefix=/; \
              make -j$(nproc) RUNTIME_PREFIX=1 CURL_CONFIG="$CURL_CONFIG" install DESTDIR=/volume/dist'
            sudo chown -R $USER:$USER .
          macos: |
            brew install autoconf
            git clone https://github.com/git/git.git --branch v2.49.1 --depth 1
            cd git
            echo NO_GETTEXT=1 > config.mak
            make configure
            ./configure --with-openssl --with-curl --with-expat --without-tcltk --prefix=/
            make -j$(sysctl -n hw.logicalcpu) RUNTIME_PREFIX=1 install DESTDIR=$PWD/dist
          windows: |
            curl -L -O https://github.com/brechtsanders/pedeps/releases/download/0.1.15/pedeps-0.1.15-win64.zip
            mkdir -p pedeps
            unzip pedeps-0.1.15-win64.zip -d pedeps/
            curl -L -O https://github.com/git-for-windows/git/releases/download/v2.51.0.windows.2/MinGit-2.51.0.2-busybox-64-bit.zip
            mkdir git
            cd git
            tar -xvf ..\MinGit-2.51.0.2-busybox-64-bit.zip
      - name: Get adb
        uses: knicknic/os-specific-run@v1.0.3
        with:
          macos: |
            curl -L -o adb.zip https://dl.google.com/android/repository/platform-tools-latest-darwin.zip
            unzip adb.zip
          linux: |
            curl -L -o adb.zip https://dl.google.com/android/repository/platform-tools-latest-linux.zip
            unzip adb.zip
          windows: |
            curl -L -o adb.zip https://dl.google.com/android/repository/platform-tools-latest-windows.zip
            tar -xvf adb.zip
      - name: Get ALAS
        run: |
          git clone https://github.com/LmeSzinc/AzurLaneAutoScript.git --depth=1
      - name: Distribute
        uses: knicknic/os-specific-run@v1.0.3
        with:
          macos: |
            cd AzurLaneAutoScript

            git checkout --detach origin/master
            git branch -d master
            git checkout --orphan master
            git reset --hard
            git checkout origin/master -- deploy
            rm -rf .git

            mkdir -p toolkit/bin
            cp ../platform-tools/adb toolkit/bin/
            mkdir -p toolkit/libexec/git-core
            cp -a ../git/dist/libexec/git-core/{git,git-remote-http,git-remote-https} toolkit/libexec/git-core/
            ln toolkit/libexec/git-core/git toolkit/bin/
            cp -r $PYTHON_PREFIX/* toolkit/
            mkdir -p config
            cp ../deploy.unix.yaml config/deploy.yaml

            cd ${{ github.workspace }}
            mkdir -p AzurLaneAutoScript.app/Contents/MacOS
            cp target/release/alas-launcher AzurLaneAutoScript.app/Contents/MacOS/
            mkdir -p AzurLaneAutoScript.app/Contents/Resources
            cp icons/icon.icns AzurLaneAutoScript.app/Contents/Resources/
            cp -r AzurLaneAutoScript AzurLaneAutoScript.app/Contents/
            cp Info.plist AzurLaneAutoScript.app/Contents/
            rdfind -minsize 128 -makehardlinks true AzurLaneAutoScript.app
            uv run python - <<EOF
            import tarfile, lzma
            with tarfile.open('AzurLaneAutoScript-${{ runner.os }}-$(uname -m).tar.xz', 'x:xz', preset=9|lzma.PRESET_EXTREME) as t:
              t.add('AzurLaneAutoScript.app')
            EOF

            cp deploy.unix-cn.yaml AzurLaneAutoScript.app/Contents/AzurLaneAutoScript/config/deploy.yaml
            uv run python - <<EOF
            import tarfile, lzma
            with tarfile.open('AzurLaneAutoScript-CN-${{ runner.os }}-$(uname -m).tar.xz', 'x:xz', preset=9|lzma.PRESET_EXTREME) as t:
              t.add('AzurLaneAutoScript.app')
            EOF
          linux: |
            cd AzurLaneAutoScript

            git checkout --detach origin/master
            git branch -d master
            git checkout --orphan master
            git reset --hard
            git checkout origin/master -- deploy
            rm -rf .git

            mkdir -p toolkit/bin
            cp ../platform-tools/adb toolkit/bin/
            mkdir -p toolkit/libexec/git-core
            cp -a ../git/dist/libexec/git-core/{git,git-remote-http,git-remote-https} toolkit/libexec/git-core/
            ln toolkit/libexec/git-core/git toolkit/bin/
            cp -r $PYTHON_PREFIX/* toolkit/
            find toolkit/ -type f -name '*.so*' -or -type f -executable -exec strip --strip-unneeded {} \;
            mkdir -p config
            cp ../deploy.unix.yaml config/deploy.yaml
            cp ../target/release/alas-launcher alas-launcher

            cd ${{ github.workspace }}
            rdfind -minsize 128 -makehardlinks true AzurLaneAutoScript
            uv run python - <<EOF
            import tarfile, lzma
            with tarfile.open('AzurLaneAutoScript-${{ runner.os }}-$(uname -m).tar.xz', 'x:xz', preset=9|lzma.PRESET_EXTREME) as t:
              t.add('AzurLaneAutoScript')
            EOF

            cp deploy.unix-cn.yaml AzurLaneAutoScript/config/deploy.yaml
            uv run python - <<EOF
            import tarfile, lzma
            with tarfile.open('AzurLaneAutoScript-CN-${{ runner.os }}-$(uname -m).tar.xz', 'x:xz', preset=9|lzma.PRESET_EXTREME) as t:
              t.add('AzurLaneAutoScript')
            EOF
          windows: |
            cd AzurLaneAutoScript

            git checkout --detach origin/master
            git branch -d master
            git checkout --orphan master
            git reset --hard
            git checkout origin/master -- deploy
            rm -r -fo .git

            mkdir -ea 0 toolkit
            cp ..\platform-tools\adb.exe, ..\platform-tools\Adb*.dll toolkit\
            mkdir -ea 0 toolkit\git\cmd
            cp ..\git\cmd\git.exe toolkit\git\cmd\
            mkdir -ea 0 toolkit\git\mingw64\bin
            $git_files = @("git.exe","git-remote-http.exe","git-remote-https.exe","libcurl-4.dll") | ForEach-Object { "..\git\mingw64\bin\" + $_ }
            ..\pedeps\bin\copypedeps.exe -r $git_files toolkit\git\mingw64\bin\
            cp -r ($env:PYTHON_PREFIX + "\*") toolkit\
            mkdir -ea 0 config
            cp ..\deploy.windows.yaml config\deploy.yaml
            cp ..\target\release\alas-launcher.exe alas-launcher.exe

            cd ${{ github.workspace }}
            uv run python -c @"
            import tarfile, lzma
            with tarfile.open('AzurLaneAutoScript-${{ runner.os }}-$($env:PROCESSOR_ARCHITECTURE.ToLower()).tar.xz', 'x:xz', preset=9|lzma.PRESET_EXTREME) as t:
              t.add('AzurLaneAutoScript')
            "@

            cp deploy.windows-cn.yaml AzurLaneAutoScript\config\deploy.yaml
            uv run python -c @"
            import tarfile, lzma
            with tarfile.open('AzurLaneAutoScript-CN-${{ runner.os }}-$($env:PROCESSOR_ARCHITECTURE.ToLower()).tar.xz', 'x:xz', preset=9|lzma.PRESET_EXTREME) as t:
              t.add('AzurLaneAutoScript')
            "@
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: AzurLaneAutoScript-${{ matrix.os }}
          path: |
            AzurLaneAutoScript-${{ runner.os }}-*
      - name: Upload artifacts (CN)
        uses: actions/upload-artifact@v4
        with:
          name: AzurLaneAutoScript-CN-${{ matrix.os }}
          path: |
            AzurLaneAutoScript-CN-${{ runner.os }}-*
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          prerelease: true
          files: |
            AzurLaneAutoScript-${{ runner.os }}-*
            AzurLaneAutoScript-CN-${{ runner.os }}-*
